
:root {
    --bg-gradient: linear-gradient(170deg, #00dbde 0%, #fc00ff 100%);
    /* --bg-gradient: linear-gradient(170deg, #012525 0%, #280029 100%); */
    /* --bg-gradient: #0k00c0c; */

    --bg-primary-color: #008cff;
    --bg-secondary-color: #ffffff36;
    --bg-terciary-color: #00000057;
    --border-primary-color: #005a86;
    --border-secondary-color: #3f3d3d;
    --title-color: #ffffff;
    --text-color: #f0e7e7;
    --icon-color:  #090769;
    --work-icon-color: var(--icon-color);
    --icon-color-active:  #291a3b;

    --drop-shadow-effect: 0 0.25rem 0.5rem rgba(0, 0, 0, .25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    font-family:'Inter';
    text-shadow: var(--drop-shadow-effect);
}

h1 {
    font-size: 2rem;
    color: var(--title-color);
}

h2 {
    font-size: 1.5rem;
    color: var(--title-color);
}

h3 {
    font-size: 1.25rem;
    color: var(--text-color);

}

h4 {
    font-size: 1.1rem;
    color: var(--text-color);
}

p {
    font-size: 1rem;
    color: var(--text-color);
}

i {
    font-size: 1rem;
}

body {
    width: 100vw;
    height: 100%;
    background: var(--bg-gradient);
}

header {
    top: 0;
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: var(--bg-primary-color);
    box-shadow: var(--drop-shadow-effect);   
}


.resources__container {
    padding: 0.5rem 1rem;
    background-color: var(--bg-secondary-color);
}

.resources {
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-evenly;
}

.resource {
    display: flex;
    align-items: center;
    background-color: var(--bg-secondary-color);
    border: 1px solid var(--border-primary-color);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-right: 1px solid var(--border-primary-color);
    color: var(--icon-color);
}


.points {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}

.resource__time {
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding-top: .5rem;
}

.icon__time {
    font-size: 1.25rem;
    color: var(--icon-color);
    background: var(--bg-secondary-color);
    width: 2rem;
    height: 2rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--bg-secondary-color);
}

#day {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu {
    position: fixed;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: var(--bg-primary-color);

}

.menu__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background: var(--bg-secondary-color);
    border: 1px solid var(--border-primary-color);
}

.menu__item i{
    font-size: 1.5rem;
    color: var(--icon-color);
}

.menu__active {
    background: 0;
}

.sectionsActive {
    max-width: 100%;
    min-height: 100vh;
    /* background-color: var(--bg-secondary-color); */
    padding: 6.125rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sectionsDisabled {
    display: none;
}

.section__manager__player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.player__img {
    width: 18rem;
    height: 18rem;
    border: var(--border-primary-color) 1px solid;
    box-shadow: var(--drop-shadow-effect);
}

.player__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__manager__interprise {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.interprise__name__box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border-primary-color) 1px solid;
    box-shadow: var(--drop-shadow-effect);
    padding: .5rem;
    background: var(--bg-terciary-color);
}

.interprise__reputation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid var(--border-primary-color);
}

.interprise__reputation__title__container{
    padding: .125rem 1rem;
    display: flex;
    align-items: center;
}

.interprise__reputation__points__container, .panel__item__stats {
    display: flex;
    border-top: 1px solid var(--border-primary-color);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, .1);
}

.interprise__reputation__points__container {
    padding: 0 .5rem;
}

.interprise__reputation i {
    color: #800080;
    font-size: 1.25rem;
    border-right: var();
}

.interprise__reputation__points__container p{
    width: 100%;
}

.client__database {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.client__panel {
    display: flex;
    justify-content: space-evenly;
}

.panel__item {
    border: 1px solid var(--border-primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel__item__text {
    padding: .25rem .125rem;
    text-align: center;
}


.panel__item__stats p {
    padding: 0 .5rem;
 }

.panel__item__stats i {
    border-right: 1px solid var(--border-primary-color);
    padding: .25rem .5rem;
}

#clientsActivePanelItem {
    width: 100%;
}

#iconActive {color: #70FF00}
#iconBlocked {color: #FF9900;}
#iconDisabled {color: #FF0303;}

.client__plan, .client__technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.plan__item, .tech__item {
    width: 100%;
    display: flex;
    border: 1px solid var(--border-primary-color);
}

.plan__xxMb, .tech__name {
    width: 100%;
    padding: 0 .5rem;
}

.plan__percentage, .tech__percentage {
    border-left: 1px solid var(--border-primary-color);
    padding: 0 .5rem;
}

.early__works__container {
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: .5rem;
    font-size: .875rem;
    text-align: center;
}

.early__work__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border-primary-color);
    background: #ffffff54;
}

.early__work__icon{
    width: 100%;
    height: 100%;
    display: flex;
    padding: .5rem;
    border-bottom: 1px solid var(--border-primary-color);
    align-items: center;
    justify-content: center;
}

.early__work__icon svg path{
    fill: var(--work-icon-color);
}

.early__work__item__text__container {
    width: 100%;
    background: rgba(255, 255, 255, .1);
    padding: .5rem 0;
}

.early__work__alert {
    background: #ff5454;
    border: .1px solid #00000088;
    border-radius: 50%;
    padding: .1rem;
}

.missions__work__container {
    width: 100%;
}

.mission__container {
    width: 100%;
}

.mission__header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    text-align: center;
    align-items: center;
    border: 1px solid var(--border-primary-color);
    background: var(--bg-primary-color);
}

.mission__header h2 {
    color: var(--text-color);
    width: 100%;
}

.mission__header i {
    color: var(--text-color);
    font-size: 2rem;
}

.accordion__active .mission__header i{
    transform: rotate(180deg);
}

.mission__body, .accept__call__button {
    display: none;  
}

.accordion__active .mission__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5rem;
    gap: 1rem;
    border: 1px solid var(--border-primary-color);
    background: var(--bg-secondary-color);
}

.accordion__active .accept__call__button {
    display: flex;
}

.mission__resources {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.mission__resources ul li {
    list-style: disc;
    margin-left: 1.5rem;
    color: var(--icon-color);
}

.mission__risk-reward {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem 1.25rem;
}

.mission__risk-reward__resource {
    display: flex;
    gap: .5rem;
    text-align: center;
    align-items: center;
}

.mission__risk-reward__resource i {
    color: var(--icon-color);
    font-size: 1.5rem;
}

.accept__call__button {
    width: 100%;
    padding: 1rem 0;
    justify-content: center;
    background: var(--bg-gradient);
    border: 2px solid var(--border-primary-color);
}

.modal__early__works__container {
    display: none;
}

.modal__early__works__container.modal__active {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-self: center;
    z-index: 0;
    background: #013a69f6;
    padding: .5rem .5rem 1.5rem .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border:1px solid var(--border-primary-color);
    border-radius: 1rem;
    margin: 0 1rem;
    width: 90%;
}

.close__modal__button, .back__modal__button {
    font-size: 1.5rem;
    color: var(--bg-primary-color);
    align-self: flex-end;
}

.infos__install {
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.form__for__install {
    /* display: none; */
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.form__for__install select {
    background: transparent;
    border: none;
    color: var(--text-color);
    text-align: center;
    width: 100%;
}

.form__for__install select,
.form__for__install label {
    display: none;
}

.form__for__install select option {
    color: var(--icon-color);
}

.form__for__install .select__tech__for__install {
    display: block;
}

.modal__submit__button {
    display: none;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background: var(--bg-secondary-color);
    border: 1px solid var(--border-primary-color);
    border-radius: 2rem;
}

.minigame__for__install {
    align-self: center;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: .25rem;
}

#modalInstallMiniGame {
    text-align: center;
    justify-content: space-evenly;
}

.minigame__for__install span {
    background: var(--bg-primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-color);
    border-radius: 1rem;
    font-size: 2rem;
    font-weight:900;
    color: var(--text-color);
    padding: .5rem;
}

.tech__menu {
    display: flex;
    background: var(--bg-primary-color);
    padding: 1rem .5rem;
    text-align: center;
    /* gap: 2rem; */
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--border-primary-color);
    border-radius: 1rem;
}

.tech__menu i {
    font-size: 6rem;
    color: var(--icon-color);
}

.sectionsActive .sectionsActive{
    padding: 0;
}

.section__tech__shop__container__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: .5rem;
    place-items: center;
}

.section__tech__shop__item {
    order: 1;
    min-width: 8.5rem;
    width: 100%;
    height: 8.5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: var(--bg-terciary-color);
    border: 1px solid var(--border-primary-color);
    border-radius: 1rem
}

.section__tech__shop__item img{
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

.back__button {
    font-size: 2rem;
    color: var(--icon-color);
    align-self: flex-end;
    padding-bottom: 2rem;
}

.cart__shop__menu {
    width: 100%;
}

.cart__shop__menu h3 {
    text-align: center;
    background: var(--bg-secondary-color);
    padding: 1rem;
    border: 1px solid var(--border-primary-color);
    border-radius: 2rem;
}

.cart__icon__menu {
    display: block;
    font-size: 2rem;
    color: var(--text-color);
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: var(--bg-terciary-color);
    border: 1px solid var(--border-primary-color);
    border-radius: 2rem 2rem 0 0;
    border-bottom: 2px solid var(--icon-color);
}

.cart__items__container {
    display: none;
    padding: 1rem;
    background: var(--bg-terciary-color);
    border: 1px solid var(--border-primary-color);
}

.cart__shop__menu__active .cart__items__container {
    display: block;
}

.item__shop__active{
    order: 0;
    grid-area: 1 / 1 / 1 / 3;
    width: 100%;
}

.item__quality {
    font-size: 1.25rem;
}

table {
    order: 0;
    display: none;
    grid-area: auto / 1 / auto / 3;
    width: 100%;
    padding: .5rem;
    background: var(--bg-terciary-color);
    border: 1px solid var(--border-primary-color);
    border-radius: 1rem;
    text-align: center;
    color: var(--text-color);
    font-size: .875rem;
}


table td,
table th {
    vertical-align: middle;
    background: var(--bg-terciary-color);
    border: 1px solid var(--icon-color);
    padding: .25rem;
}

.table__shop__cart__list {
    display: table;
    margin-bottom: 1rem;
}

#sectionTechInventory{
    align-items: center;
}

#tableInventory {
    display: table;
}

#tableInventory i {
    font-size: .75rem;
}

#tableInventory tr:nth-child(even) td {
    background: var(--bg-secondary-color);
}

.menu__assist {
    /* display: none; */
    padding: 2rem .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: .5rem;
}

.card__assist {
    width: 100%;
    padding: 1rem .5rem;
    background: var(--bg-secondary-color);
    border-radius: 1rem;
}

.card__assist svg path{
    fill: var(--icon-color);
}

.menu__itens__assist {
    display: none;
    padding: 2rem .5rem;
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

#menuAssistListAssist {
    display: table;
    background: var(--bg-secondary-color);
}

.list__assist__name__customer__item {
    border: 1px solid var(--border-primary-color);
    background: var(--bg-primary-color);    
}

.list__assist__info__customer__head th{
    border: 1px solid var(--border-primary-color);
    background: var(--bg-secondary-color);
}

.list__assist__info__customer__body td {
    border: 1px solid var(--border-primary-color);
    background: var(--bg-terciary-color);
}

.list__assist__info__customer__head,
.list__assist__info__customer__body {
    display: none;
}

.buttons__modal__early__works {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.back__modal__button {
    display: none;
}

#assistCustomerForInstall {
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background: var(--bg-terciary-color);
    padding: 1rem .5rem;
    border-radius: 1rem;
}

#assistCustomerForInstall select,
#assistForInstallValueOfInstallContainer {
    width: 100%;
    text-align: center;
    background: var(--bg-secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 1rem;
    padding: .25rem;
}

#assistForInstallValueOfInstallContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

#assistCustomerForInstall input {
    background: none;
    border: none;
    color: var(--text-color);
}

#sendProposalForCustomer {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background: var(--bg-primary-color);
    color: var(--title-color);
    border: 1px solid var(--border-secondary-color);
    border-radius: 1.5rem;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 600;
}
